body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  cursor: pointer;
  width: 99.9vw;
  height: 99.9vh;
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  margin: 50px auto;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.1);
}

header {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  text-align: right;
  font-size: 16px;
}

.subtext {
  font-size: 12px;
  color: #d1d1d1;
}
.loginEmail,.loginPassword,.inp
{
  border: none;
  outline: none;
  border-bottom: 1px solid;
  width: 25rem;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.container
{
  width: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 10%; */
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}
.submitbtn,.registerbtn
{
  margin-top: 1rem;
  width: 100%;
  background-color: #3f51b5;
  color: white;
}

.tab-btn.active {
  background: #3f51b5;
  color: white;
  width:25rem;
}


main {
  padding: 20px;
}

.tab-content {
  display: none;
  background: white;
  width:25rem;
  border: 1px solid red;
  

}

.toggle-link
{
  margin-top: 1rem;
  text-align: center;
}
.tab-content.active {
  display: block;
}
/* .dropdown
{
  width:25rem;
} */
label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdownmenu
{
  width: 30rem;
}
textarea {
  resize: vertical;
}

button {
  padding: 10px 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3f51b5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

table th {
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
}

.tab-content
{
    width: max-content;

}